<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>RXJS Examples </span>
  </mat-toolbar-row>
</mat-toolbar>

<section>
  <mat-grid-list cols="2" rowHeight="2:2">
    <mat-grid-tile>
      <table>
        <tr>
          <th>ID</th>
          <th>NOME</th>
          <th>DATA NASCIMENTO</th>
          <th>AÇÕES</th>
        </tr>
        <tr *ngFor="let item of dataSource$ | async">
          <td>{{ item.id }}</td>
          <td>{{ item.nome }}</td>
          <td>{{ item.nascimento }}</td>
          <td>
            <button mat-stroked-button (click)="editItem(item)">Editar</button>
          </td>
        </tr>
      </table>

      <button class="button-new" mat-stroked-button (click)="newItem()">
        Adicionar Novo
      </button>
    </mat-grid-tile>

    <mat-grid-tile>
      <!-- <table>
        <tr>
          <th>ID</th>
          <th>NOME</th>
          <th>DATA NASCIMENTO</th>
          <th>AÇÕES</th>
        </tr>
        <tr *ngFor="let item of dataSource$ | async">
          <td>{{ item.id }}</td>
          <td>{{ item.nome }}</td>
          <td>{{ item.nascimento }}</td>
          <td>
            <button mat-stroked-button (click)="editItem(item)">Editar</button>
          </td>
        </tr>
      </table> -->
    </mat-grid-tile>
  </mat-grid-list>
</section>

<router-outlet></router-outlet>
