<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>RXJS Examples </span>
  </mat-toolbar-row>
</mat-toolbar>

<section>
  <mat-grid-list cols="2" rowHeight="2:2">
    <mat-grid-tile>
      <table *ngIf="nomes$ | async as nomes">
        <tr>
          <th>ID</th>
          <th>NOME</th>
          <th>DATA NASCIMENTO</th>
        </tr>
        <tr *ngFor="let item of nomes">
          <td>{{ item.id }}</td>
          <td>{{ item.nome }}</td>
          <td>{{ item.nascimento }}</td>
        </tr>
      </table>
    </mat-grid-tile>

    <mat-grid-tile>
      <h1>Filtrar Nomes</h1>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput type="text" [formControl]="filtrarNomeInput" />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</section>

<router-outlet></router-outlet>
